.rt-BaseTabList:has(.propel-Card) {
  all: unset;

  width: 100%;

  & .rt-TabsTrigger {
    all: unset !important;
    display: block !important;

    box-sizing: border-box;
    inline-size: 100% !important;

    & > .rt-TabsTriggerInner {
      all: unset !important;
      display: block !important;
    }

    & > .rt-TabsTriggerInnerHidden {
      display: none;
    }
  }
}
