@use '../../themes/tokens/typography';

.rootAutocomplete {
  @extend %fontSize2;

  border-radius: var(--radius-2);
  background-color: var(--color-background);
  border: 1px solid var(--gray-6);
  display: flex;
  gap: var(--space-1);
  padding: var(--space-1);
  overflow: hidden;
  transition: all 100ms;
  box-sizing: border-box;

  transition: background-color var(--transition-ease-time) ease, border-color var(--transition-ease-time) ease,
    color var(--transition-ease-time) ease;

  &:hover {
    background-color: var(--gray-a2);
    border-color: var(--gray-10);
  }
}

.rootAutocomplete__focused {
  outline: none;
  box-shadow: 0 0 0 3px var(--accent-a4);
  border-color: var(--accent-8);
}

.autocompleteInput {
  @extend %fontSize2;

  background: inherit;
  border: none;
  border-radius: inherit;
  padding: var(--space-1);
  outline: 0;
  flex: 1 0 auto;
  width: 100%;
}

.autocompleteIndicator {
  outline: 0;
  box-shadow: none;
  border: 0;
  border-radius: 4px;
  background-color: transparent;
  align-self: center;
  padding: 0 2px;
  margin-right: 4px;
  display: flex;
  align-items: center;
}

.autocompleteList {
  @extend %fontSize2;

  box-sizing: border-box;
  padding: var(--space-1);
  margin: var(--space-1) 0;
  width: 100%;
  border-radius: var(--radius-2);
  overflow: auto;
  outline: 0px;
  max-height: 300px;
  z-index: 9999;
  background-color: var(--color-background);
  border: 1px solid var(--gray-6);
  box-shadow: var(--shadow-5);

  li {
    list-style: none;
    padding: var(--space-2);
    border-radius: var(--radius-2);
    cursor: default;

    &:last-of-type {
      border-bottom: none;
    }

    &:hover {
      background-color: var(--gray-2);
      cursor: pointer;
    }

    &[class^='Mui-focused'] {
      background-color: var(--accent-11);
    }

    &[aria-selected='true'] {
      background-color: var(--gray-3);
    }
  }
}

.autoCompleteOption {
  text-overflow: ellipsis;
  overflow: hidden;
}
