@use '../../themes/tokens/typography';

.rootAutocomplete {
  @extend %fontSize1;

  border-radius: max(var(--propel-radius-2), var(--propel-radius-full));
  background-color: var(--propel-color-background);
  border: 1px solid var(--propel-gray-6);
  display: flex;
  gap: var(--propel-space-1);
  padding: var(--propel-space-1);
  overflow: hidden;
  transition: all 100ms;
  box-sizing: border-box;
  font-weight: var(--propel-font-weight-medium);

  transition: background-color var(--propel-transition-ease-time) ease,
    border-color var(--propel-transition-ease-time) ease, color var(--propel-transition-ease-time) ease;

  &:hover {
    background-color: var(--propel-gray-a2);
    border-color: var(--propel-gray-10);

    outline: none;
    box-shadow: 0 0 0 3px var(--propel-accent-a4);
    border-color: var(--propel-accent-8);
  }
}

.rootAutocomplete__focused {
  outline: none;
  box-shadow: 0 0 0 3px var(--propel-accent-a4);
  border-color: var(--propel-accent-8);
}

.autocompleteInput {
  @extend %fontSize2;

  font-weight: var(--propel-font-weight-medium);
  background: inherit;
  border: none;
  border-radius: inherit;
  padding: var(--propel-space-1);
  outline: 0;
  flex: 1 0 auto;
  width: 100%;
}

.autocompleteIndicator {
  outline: 0;
  box-shadow: none;
  border: 0;
  border-radius: 4px;
  background-color: transparent;
  align-self: center;
  padding: 0 2px;
  margin-right: 4px;
  display: flex;
  align-items: center;
}

.popper {
  z-index: 9999;
  padding: var(--propel-space-3);
  background-color: var(--propel-color-background);
  border-radius: max(var(--propel-radius-2), var(--propel-radius-5));
  border-width: 1px;
  border-color: var(--propel-gray-6);
  border-style: solid;
  color: var(--propel-gray-11);
  display: flex;
  min-width: fit-content;
  box-shadow: var(--propel-shadow-5);
  margin-top: var(--propel-space-3) !important;

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
}

.autocompleteList {
  @extend %fontSize2;

  li {
    font-weight: var(--propel-font-weight-medium);

    list-style: none;
    padding: var(--propel-space-2);
    border-radius: max(var(--propel-radius-2), var(--propel-radius-full));
    cursor: default;

    &:last-of-type {
      border-bottom: none;
    }

    &[class*='Mui-focused'] {
      background-color: var(--propel-gray-3);
    }

    &:hover {
      cursor: pointer;
    }

    &:hover:not([class*='Mui-focused']) {
      background-color: var(--propel-gray-2);
    }

    &[aria-selected='true'] {
      &[class*='Mui-focused'] {
        background-color: var(--propel-gray-3)
      }
    }
  }
}

.autoCompleteOption {
  text-overflow: ellipsis;
  overflow: hidden;
}


.clearButton {
  outline: 0;
  box-shadow: none;
  border: 0;
  border-radius: 4px;
  background-color: transparent;
  align-self: center;
  padding: 0 2px;

  display: flex;
  align-items: center;

  &:hover {
    background-color: var(--propel-accent-6);
    cursor: pointer;
  }

  & > svg {
    transform: scale(0.9);
  }
}
