@use '../../themes/tokens/typography';

.rootAutocomplete {
  @extend %fontSize2;

  border-radius: max(var(--propel-radius-2), var(--propel-radius-full));
  background-color: var(--propel-color-background);
  border: 1px solid var(--propel-gray-6);
  display: flex;
  gap: var(--propel-space-1);
  padding: var(--propel-space-1);
  overflow: hidden;
  transition: all 100ms;
  box-sizing: border-box;

  transition: background-color var(--propel-transition-ease-time) ease,
    border-color var(--propel-transition-ease-time) ease, color var(--propel-transition-ease-time) ease;

  &:hover {
    background-color: var(--propel-gray-a2);
    border-color: var(--propel-gray-10);
  }
}

.rootAutocomplete__focused {
  outline: none;
  box-shadow: 0 0 0 3px var(--propel-accent-a4);
  border-color: var(--propel-accent-8);
}

.autocompleteInput {
  @extend %fontSize2;

  background: inherit;
  border: none;
  border-radius: inherit;
  padding: var(--propel-space-1);
  outline: 0;
  flex: 1 0 auto;
  width: 100%;
}

.autocompleteIndicator {
  outline: 0;
  box-shadow: none;
  border: 0;
  border-radius: 4px;
  background-color: transparent;
  align-self: center;
  padding: 0 2px;
  margin-right: 4px;
  display: flex;
  align-items: center;
}

.autocompleteList {
  @extend %fontSize2;

  box-sizing: border-box;
  padding: var(--propel-space-1);
  margin: var(--propel-space-1) 0;
  width: 100%;
  border-radius: max(var(--propel-radius-2), var(--propel-radius-full));
  overflow: auto;
  outline: 0px;
  max-height: var(--propel-component-height);
  z-index: 9999;
  background-color: var(--propel-color-background);
  border: 1px solid var(--propel-gray-6);
  box-shadow: var(--propel-shadow-5);

  li {
    list-style: none;
    padding: var(--propel-space-2);
    border-radius: max(var(--propel-radius-2), var(--propel-radius-full));
    cursor: default;

    &:last-of-type {
      border-bottom: none;
    }

    &:hover {
      background-color: var(--propel-gray-2);
      cursor: pointer;
    }

    &[class^='Mui-focused'] {
      background-color: var(--propel-accent-11);
    }

    &[aria-selected='true'] {
      background-color: var(--propel-gray-3);
    }
  }
}

.autoCompleteOption {
  text-overflow: ellipsis;
  overflow: hidden;
}
