.rootErrorFallback {
  color: var(--gray-12);
  max-width: 263px;
  height: var(--component-height);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
