.rootErrorFallback {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  composes: typographyBasic from '../../themes/themes.module.css';
}

.container {
  max-width: 263px;
  text-align: center;
  text-align: -webkit-center;
}
