@use '../../themes/generated/tokens';

.rootButton {
  @extend .textMdRegular;

  &.small {
    @extend .textSmRegular;
  }
}

.popper {
  z-index: 9999;
  padding: var(--propel-spacing-lg);
  background-color: var(--propel-background-primary);
  border-radius: var(--propel-radius-sm);
  border-width: 1px;
  border-color: var(--propel-border-secondary);
  border-style: solid;
  color: var(--propel-text-secondary);
  display: flex;
  min-width: fit-content;
  box-shadow: var(--propel-shadows-shadow-xs);
  margin-top: var(--propel-spacing-xxs) !important;

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
}

.small {
  ul {
    li {
      @extend .textSmRegular;

      padding: var(--propel-spacing-md) var(--propel-spacing-xl);
      gap: var(--propel-spacing-xxs);
    }
  }
}
