@use '../../themes/tokens/typography';

.rootButton {
  border-color: var(--gray-6);
  color: var(--gray-11);

  &.startAdornment {
    padding-left: var(--space-3);
  }

  &.endAdornment,
  &.startAdornment.endAdornment {
    padding-right: var(--space-3);
    padding-left: var(--space-3);
  }

  &.small {
    font-size: var(--font-size-1);
    letter-spacing: var(--letter-spacing-1);

    padding: var(--space-1) var(--space-3);

    &.startAdornment {
      padding-left: var(--space-2);
    }

    &.endAdornment,
    &.startAdornment.endAdornment {
      padding-right: var(--space-2);
      padding-left: var(--space-2);
    }
  }
}

.popper {
  z-index: 9999;
  padding: var(--space-3);
  background-color: var(--color-background);
  border-radius: var(--radius-2);
  border-width: 1px;
  border-color: var(--gray-6);
  border-style: solid;
  color: var(--gray-11);
  display: flex;
  min-width: fit-content;
  box-shadow: var(--shadow-5);
  margin-top: var(--space-1) !important;

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
}

.small {
  ul {
    li {
      @extend %fontSize1;

      padding: var(--space-2) var(--space-3);
      gap: var(--space-1);
    }
  }
}
