.container {
  width: inherit;
  height: 400px;
  display: flex;
}

.tableContainer {
  position: relative;

  overflow-x: auto;
  overflow-y: auto;

  width: inherit;
  height: inherit;
}

.table {
  border-spacing: 0;
  background-color: var(--propel-bg-primary);

  border-collapse: collapse;

  border: 1px solid var(--propel-text-primary);
  color: var(--propel-text-primary);

  min-width: 100%;
  width: max-content;
}

.tableHead {
  background-color: var(--propel-bg-primary);

  position: sticky;
  top: 0px;
  outline: 1px solid var(--propel-text-primary);

  z-index: 2;
}

.tableBody {
}

.tableRow {
}

.tableCell {
  border: 1px solid var(--propel-text-primary);
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;

  max-width: 800px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tableCell.selectedRow {
  background-color: var(--propel-accent);
}

.tableCellHead {
  text-align: left;
  border: 1px solid var(--propel-text-primary);

  position: relative;
}

.tableIndexHeader {
  text-align: center;
  width: 32px;
  max-width: 32px;
  position: sticky;
  left: 0;
  top: 0;
  outline: 1px solid var(--propel-text-primary);
  background-color: var(--propel-bg-primary);
  z-index: 2;
  border: none;
}

.tableIndexCell {
  text-align: center;
  position: sticky;
  width: 32px;
  max-width: 32px;
  left: 0;
  border: none;
  outline: 1px solid var(--propel-text-primary);
  background-color: var(--propel-bg-primary);
  z-index: 1;
  user-select: none;
  padding: 0;

  position: sticky;
  box-sizing: border-box;
}

.tableIndexCell.selectedRow {
  background-color: var(--propel-bg-primary);
}

.tableIndexCell.selectedRow > div {
  background-color: var(--propel-accent);
}

.tableIndexCell > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.resizer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  opacity: 0;
  transition: opacity 0.1s;

  right: 0px;
}

.tableCellHead:hover > .resizer {
  opacity: 1;
}
