@use '../../themes/generated/tokens';

.rootCard {
  padding: 0;
  margin: 0;
}

.textMdRegular {
  @extend .textMdRegular;
}

.textMdSemibold {
  @extend .textMdSemibold;
}

.textXsRegular {
  @extend .textXsRegular;
}

.textXxsRegular {
  @extend .textXxsRegular;
}

.textSmRegular {
  @extend .textSmRegular;
}

.block {
  display: block;
}
