.rootCounter {
  composes: typographyHeading1 from '../../themes/typography.module.css';
  color: var(--propel-text-secondary);
  white-space: nowrap;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.loading {
  opacity: 0.3;
}
