.rootCounter {
  color: var(--propel-text-color);
  font-size: var(--propel-font-size);
  font-family: var(--propel-font-family);
  font-weight: var(--propel-font-weight);
  line-height: var(--propel-line-height);
  white-space: nowrap;
}
