@use '../../themes/generated/tokens';

.rootCounter {
  @extend %displayLgBold;
  color: var(--propel-text-primary);
  white-space: nowrap;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;

  &.loading {
    opacity: 0.3;
  }
}

.loader {
  @extend %displayLgBold;
  color: var(--propel-text-secondary);
}
