%textSettings {
  color: var(--gray-12);
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-8);
  line-height: var(--line-height-8);
  letter-spacing: var(--letter-spacing-8);
}

.rootCounter {
  @extend %textSettings;

  white-space: nowrap;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;

  &.loading {
    opacity: 0.3;
  }
}

.loader {
  @extend %textSettings;
}
