.propel-themes {
  --propel-cursor-button: pointer;
  --propel-cursor-checkbox: pointer;
  --propel-cursor-disabled: not-allowed;
  --propel-cursor-link: pointer;
  --propel-cursor-menu-item: default;
  --propel-cursor-radio: pointer;
  --propel-cursor-slider-thumb: default;
  --propel-cursor-slider-thumb-active: default;
  --propel-cursor-switch: pointer;
}
