/* prettier-ignore */
:where(.propel-themes) {
    --propel-shadow-1:
      inset 0 0 0 1px var(--propel-gray-a5),
      inset 0 1.5px 2px 0 var(--propel-gray-a2),
      inset 0 1.5px 2px 0 var(--propel-black-a2);
  
    --propel-shadow-2:
      0 0 0 1px var(--propel-gray-a3),
      0 0 0 0.5px var(--propel-black-a1),
      0 1px 1px 0 var(--propel-gray-a2),
      0 2px 1px -1px var(--propel-black-a1),
      0 1px 3px 0 var(--propel-black-a1);
  
    --propel-shadow-3:
      0 0 0 1px var(--propel-gray-a3),
      0 2px 3px -2px var(--propel-gray-a3),
      0 3px 12px -4px var(--propel-black-a2),
      0 4px 16px -8px var(--propel-black-a2);
  
    --propel-shadow-4:
      0 0 0 1px var(--propel-gray-a3),
      0 8px 40px var(--propel-black-a1),
      0 12px 32px -16px var(--propel-gray-a3);
  
    --propel-shadow-5:
      0 0 0 1px var(--propel-gray-a3),
      0 12px 60px var(--propel-black-a3),
      0 12px 32px -16px var(--propel-gray-a5);
  
    --propel-shadow-6:
      0 0 0 1px var(--propel-gray-a3),
      0 12px 60px var(--propel-black-a3),
      0 16px 64px var(--propel-gray-a2),
      0 16px 36px -20px var(--propel-gray-a7);
  }

/* prettier-ignore */
@supports (color: color-mix(in oklab, white, black)) {
    :where(.propel-themes) {
      --propel-shadow-1:
        inset 0 0 0 1px var(--propel-gray-a5),
        inset 0 1.5px 2px 0 var(--propel-gray-a2),
        inset 0 1.5px 2px 0 var(--propel-black-a2);
  
      --propel-shadow-2:
        0 0 0 1px color-mix(in oklab, var(--propel-gray-a3), var(--propel-gray-3) 25%),
        0 0 0 0.5px var(--propel-black-a1),
        0 1px 1px 0 var(--propel-gray-a2),
        0 2px 1px -1px var(--propel-black-a1),
        0 1px 3px 0 var(--propel-black-a1);
  
      --propel-shadow-3:
        0 0 0 1px color-mix(in oklab, var(--propel-gray-a3), var(--propel-gray-3) 25%),
        0 2px 3px -2px var(--propel-gray-a3),
        0 3px 12px -4px var(--propel-black-a2),
        0 4px 16px -8px var(--propel-black-a2);
  
      --propel-shadow-4:
        0 0 0 1px color-mix(in oklab, var(--propel-gray-a3), var(--propel-gray-3) 25%),
        0 8px 40px var(--propel-black-a1),
        0 12px 32px -16px var(--propel-gray-a3);
  
      --propel-shadow-5:
        0 0 0 1px color-mix(in oklab, var(--propel-gray-a3), var(--propel-gray-3) 25%),
        0 12px 60px var(--propel-black-a3),
        0 12px 32px -16px var(--propel-gray-a5);
  
      --propel-shadow-6:
        0 0 0 1px color-mix(in oklab, var(--propel-gray-a3), var(--propel-gray-3) 25%),
        0 12px 60px var(--propel-black-a3),
        0 16px 64px var(--propel-gray-a2),
        0 16px 36px -20px var(--propel-gray-a7);
    }
  }

/* prettier-ignore */
:is(.dark, .dark-theme),
  :is(.dark, .dark-theme) :where(.propel-themes:not(.light, .light-theme)) {
    --propel-shadow-1:
      inset 0 -1px 1px 0 var(--propel-gray-a3),
      inset 0 0 0 1px var(--propel-gray-a3),
      inset 0 3px 4px 0 var(--propel-black-a5),
      inset 0 0 0 1px var(--propel-gray-a4);
  
    --propel-shadow-2:
      0 0 0 1px var(--propel-gray-a6),
      0 0 0 0.5px var(--propel-black-a3),
      0 1px 1px 0 var(--propel-black-a6),
      0 2px 1px -1px var(--propel-black-a6),
      0 1px 3px 0 var(--propel-black-a5);
  
    --propel-shadow-3:
      0 0 0 1px var(--propel-gray-a6),
      0 2px 3px -2px var(--propel-black-a3),
      0 3px 8px -2px var(--propel-black-a6),
      0 4px 12px -4px var(--propel-black-a7);
  
    --propel-shadow-4:
      0 0 0 1px var(--propel-gray-a6),
      0 8px 40px var(--propel-black-a3),
      0 12px 32px -16px var(--propel-black-a5);
  
    --propel-shadow-5:
      0 0 0 1px var(--propel-gray-a6),
      0 12px 60px var(--propel-black-a5),
      0 12px 32px -16px var(--propel-black-a7);
  
    --propel-shadow-6:
      0 0 0 1px var(--propel-gray-a6),
      0 12px 60px var(--propel-black-a4),
      0 16px 64px var(--propel-black-a6),
      0 16px 36px -20px var(--propel-black-a11);
  }

/* prettier-ignore */
@supports (color: color-mix(in oklab, white, black)) {
    :is(.dark, .dark-theme),
    :is(.dark, .dark-theme) :where(.propel-themes:not(.light, .light-theme)) {
      --propel-shadow-1:
        inset 0 -1px 1px 0 var(--propel-gray-a3),
        inset 0 0 0 1px var(--propel-gray-a3),
        inset 0 3px 4px 0 var(--propel-black-a5),
        inset 0 0 0 1px var(--propel-gray-a4);
  
      --propel-shadow-2:
        0 0 0 1px color-mix(in oklab, var(--propel-gray-a6), var(--propel-gray-6) 25%),
        0 0 0 0.5px var(--propel-black-a3),
        0 1px 1px 0 var(--propel-black-a6),
        0 2px 1px -1px var(--propel-black-a6),
        0 1px 3px 0 var(--propel-black-a5);
  
      --propel-shadow-3:
        0 0 0 1px color-mix(in oklab, var(--propel-gray-a6), var(--propel-gray-6) 25%),
        0 2px 3px -2px var(--propel-black-a3),
        0 3px 8px -2px var(--propel-black-a6),
        0 4px 12px -4px var(--propel-black-a7);
  
      --propel-shadow-4:
        0 0 0 1px color-mix(in oklab, var(--propel-gray-a6), var(--propel-gray-6) 25%),
        0 8px 40px var(--propel-black-a3),
        0 12px 32px -16px var(--propel-black-a5);
  
      --propel-shadow-5:
        0 0 0 1px color-mix(in oklab, var(--propel-gray-a6), var(--propel-gray-6) 25%),
        0 12px 60px var(--propel-black-a5),
        0 12px 32px -16px var(--propel-black-a7);
  
      --propel-shadow-6:
        0 0 0 1px color-mix(in oklab, var(--propel-gray-a6), var(--propel-gray-6) 25%),
        0 12px 60px var(--propel-black-a4),
        0 16px 64px var(--propel-black-a6),
        0 16px 36px -20px var(--propel-black-a11);
    }
  }
