.propel-themes {
  --propel-space-1: calc(4px * var(--propel-scaling));
  --propel-space-2: calc(8px * var(--propel-scaling));
  --propel-space-3: calc(12px * var(--propel-scaling));
  --propel-space-4: calc(16px * var(--propel-scaling));
  --propel-space-5: calc(24px * var(--propel-scaling));
  --propel-space-6: calc(32px * var(--propel-scaling));
  --propel-space-7: calc(40px * var(--propel-scaling));
  --propel-space-8: calc(48px * var(--propel-scaling));
  --propel-space-9: calc(64px * var(--propel-scaling));
}
