@use '../../themes/typography';

.rootInput {
  @extend .typographySmall;

  padding: var(--propel-space-sm) var(--propel-space-md);
  gap: var(--propel-space-xs);
  background-color: var(--propel-bg-primary);
  border-radius: var(--propel-border-radius-sm);
  border-width: 1px;
  border-color: var(--propel-border-primary);
  border-style: solid;
  color: var(--propel-text-secondary);
  cursor: text;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;

  & input {
    @extend .typographySmall;

    border: none;
    padding: 0;
    width: 100%;

    &:focus {
      outline: none;
    }
    &:disabled {
      background-color: transparent;
    }
  }

  &:hover {
    color: var(--propel-text-primary);
    border-color: var(--propel-accent-hover);
  }

  &.focus {
    outline: none;
    box-shadow: 0 0 0 3px #c7def7;
  }

  &.error {
    border-color: var(--propel-error-primary);
  }

  &.disabled {
    color: var(--propel-color-secondary);
    &:hover {
      color: var(--propel-color-secondary);
      border-color: var(--propel-border-primary);
      cursor: default;
    }
  }
}

.small {
  padding: var(--propel-space-xs) var(--propel-space-md);
}
