@use '../../themes/generated/tokens';

.rootInput {
  @extend %textMdRegular;

  padding: var(--propel-spacing-lg) var(--propel-spacing-xl);
  gap: var(--propel-spacing-lg);
  background-color: var(--propel-background-primary);
  border-radius: var(--propel-radius-sm);
  border-width: 1px;
  border-color: var(--propel-border-primary);
  border-style: solid;
  color: var(--propel-text-primary);
  cursor: text;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
  transition: border-color var(--propel-transition-ease-time) ease, box-shadow var(--propel-transition-ease-time) ease;

  & input {
    @extend %textMdRegular;

    border: none;
    padding: 0;
    width: 100%;

    &:focus {
      outline: none;
    }
    &:disabled {
      background-color: transparent;
    }
  }

  &:hover {
    color: var(--propel-text-primary);
    border-color: var(--propel-border-brand);
  }

  &.focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(46, 144, 250, 0.2);
    border-color: var(--propel-border-brand);
  }

  &.error {
    border-color: var(--propel-border-error);
  }

  &.disabled {
    color: var(--propel-text-disabled);
    border-color: var(--propel-border-disabled);

    &:hover {
      color: var(--propel-text-disabled);
      border-color: var(--propel-border-disabled);
      cursor: default;
    }

    & svg {
      color: var(--propel-text-disabled);
    }
  }
}

.small {
  @extend %textSmRegular;

  padding: var(--propel-spacing-md) var(--propel-spacing-lg);
  gap: var(--propel-spacing-md);

  & input {
    @extend %textSmRegular;
  }
}
