@use '../../themes/tokens/typography';

.rootInput {
  @extend %fontSize2;

  padding: var(--space-2) var(--space-4);
  gap: var(--space-2);
  background-color: var(--color-background);
  border-radius: var(--radius-2);
  border-width: 1px;
  border-color: var(--gray-6);
  border-style: solid;
  cursor: text;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
  transition: border-color var(--transition-ease-time) ease, box-shadow var(--transition-ease-time) ease;

  & input {
    @extend %fontSize2;

    border: none;
    padding: 0;
    width: 100%;
    background-color: transparent;

    &:focus {
      outline: none;
    }
    &:disabled {
      background-color: transparent;
    }
  }

  &:hover {
    border-color: var(--accent-8);
  }

  &.focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--accent-a4);
    border-color: var(--accent-8);
  }

  &.error {
    border-color: var(--color-error-border);

    & input {
      color: var(--color-error-text);
    }
  }

  &.disabled {
    color: var(--gray-a8);
    background-color: var(--gray-2);
    border-color: var(--gray-a3);

    &:hover {
      cursor: default;
    }

    & svg {
      color: var(--gray-a8);
    }
  }

  &.small {
    @extend %fontSize1;

    padding: var(--space-1) var(--space-3);
    gap: var(--space-1);

    & input {
      @extend %fontSize1;
    }
  }
}
