.commonTokens {
  /* Typography - Regular */
  --propel-font-family: 'Inter';
  --propel-font-size: 16px;
  --propel-font-weight: 400;
  --propel-line-height: 150%;

  /* Typography - Tiny */
  --propel-tiny-font-family: 'Inter';
  --propel-tiny-font-size: 0.625rem;
  --propel-tiny-font-weight: 400;
  --propel-tiny-line-height: 150%;

  /* Typography - Small */
  --propel-small-font-family: 'Inter';
  --propel-small-font-size: 0.75rem;
  --propel-small-font-weight: 400;
  --propel-small-line-height: 150%;

  /* Typography - Heading 1 */
  --propel-h1-font-family: 'Inter';
  --propel-h1-font-size: 3.5rem;
  --propel-h1-font-weight: 600;
  --propel-h1-line-height: 120%;

  /* Common colors */
  --propel-component-height: 300px;
  --propel-success-primary: #669f2a;
  --propel-success-secondary: #ceeab0;
  --propel-error-primary: #f04438;
  --propel-error-secondary: #fecdca;

  /* Spacing */
  --propel-space-xxs: 4px;
  --propel-space-xs: 8px;
  --propel-space-sm: 10px;
  --propel-space-md: 16px;
  --propel-space-lg: 24px;
  --propel-space-xl: 32px;
  --propel-space-xxl: 40px;

  /* Border radius */
  --propel-border-radius-xs: 2px;
  --propel-border-radius-sm: 4px;

  /* Shadows */
  --propel-shadow-sm: 0px 2px 4px 0px rgba(17, 19, 34, 0.1);

  /* Color Blue (Brand)*/
  --propel-color-blue950: #102A56;
  --propel-color-blue900: #194185;
  --propel-color-blue800: #1849A9;
  --propel-color-blue700: #175CD3;
  --propel-color-blue600: #1570EF;
  --propel-color-blue500: #2E90FA;
  --propel-color-blue400: #53B1FD;
  --propel-color-blue300: #84CAFF;
  --propel-color-blue200: #B2DDFF;
  --propel-color-blue100: #D1E9FF;
  --propel-color-blue50: #EFF8FF;
  --propel-color-blue25: #F5FAFF;
}