@use './generated/tokens';

.commonTokens {
  --propel-component-height: 300px;
  --propel-transition-ease-time: 300ms;

  /* @deprecated Typography - Regular */
  --propel-font-family: 'Inter';
  --propel-font-size: 16px;
  --propel-font-weight: 400;
  --propel-line-height: 150%;

  /* @deprecated Typography - Tiny */
  --propel-tiny-font-family: 'Inter';
  --propel-tiny-font-size: 0.625rem;
  --propel-tiny-font-weight: 400;
  --propel-tiny-line-height: 150%;

  /* @deprecated Typography - Small */
  --propel-small-font-family: 'Inter';
  --propel-small-font-size: 0.75rem;
  --propel-small-font-weight: 400;
  --propel-small-line-height: 150%;

  /* @deprecated Typography - Heading 1 */
  --propel-h1-font-family: 'Inter';
  --propel-h1-font-size: 3.5rem;
  --propel-h1-font-weight: 600;
  --propel-h1-line-height: 120%;

  /* @deprecated Common colors */
  --propel-success-primary: #669f2a;
  --propel-success-secondary: #ceeab0;
  --propel-error-primary: #f04438;
  --propel-error-secondary: #fecdca;

  /* @deprecated Spacing */
  --propel-space-xxs: 4px;
  --propel-space-xs: 8px;
  --propel-space-sm: 10px;
  --propel-space-md: 16px;
  --propel-space-lg: 24px;
  --propel-space-xl: 32px;
  --propel-space-xxl: 40px;

  /* @deprecated Border radius */
  --propel-border-radius-xs: 2px;
  --propel-border-radius-sm: 4px;

  /* @deprecated Shadows */
  --propel-shadow-sm: 0px 2px 4px 0px rgba(17, 19, 34, 0.1);

  /* @deprecatedColor Blue (Brand)*/
  --propel-color-blue950: #102a56;
  --propel-color-blue900: #194185;
  --propel-color-blue800: #1849a9;
  --propel-color-blue700: #175cd3;
  --propel-color-blue600: #1570ef;
  --propel-color-blue500: #2e90fa;
  --propel-color-blue400: #53b1fd;
  --propel-color-blue300: #84caff;
  --propel-color-blue200: #b2ddff;
  --propel-color-blue100: #d1e9ff;
  --propel-color-blue50: #eff8ff;
  --propel-color-blue25: #f5faff;

  @extend .tokens;
}
