/** darkTheme.scss */
// @deprecated - all tokens in this file are deprecated in favor of the generated tokens and should be removed in the future

@use './common';
@use './generated/darkTheme';

.darkTheme {
  --propel-color-primary: #2e90fa;
  --propel-color-secondary: rgba(46, 144, 250, 0.35);
  --propel-bg-primary: #202939;
  --propel-bg-secondary: #0d121c;
  --propel-text-primary: #f8fafc;
  --propel-text-secondary: #9aa4b2;
  --propel-border-primary: #364152;
  --propel-accent: rgba(46, 144, 250, 0.6);
  --propel-accent-hover: #2e90fa;
  --propel-color-gradient: linear-gradient(180deg, rgba(46, 144, 250, 0.35) -11.58%, rgba(46, 144, 250, 0.05) 100%);
  --propel-color-loader: #2d2d2d;
  --propel-color-loader-animation: #00000020;

  @extend .darkTheme;
}
