/** lightTheme.scss */

.lightTheme {
  --propel-color-primary: #2e90fa;
  --propel-color-secondary: #cdd5df;
  --propel-bg-primary: #ffffff;
  --propel-bg-secondary: #f8fafc;
  --propel-text-primary: #0d121c;
  --propel-text-secondary: #697586;
  --propel-border-primary: #e3e8ef;
  --propel-accent: rgba(46, 144, 250, 0.6);
  --propel-accent-hover: #2e90fa;
  --propel-color-gradient: linear-gradient(180deg, rgba(46, 144, 250, 0.35) -11.58%, rgba(46, 144, 250, 0.05) 100%);
}
