/** Typography */
// @deprecated - all tokens in this file are deprecated in favor of the generated tokens and should be removed in the future

@use './generated/tokens';

.typographyRegular {
  color: var(--propel-text-secondary);
  font-family: var(--font-family, var(--propel-font-family));
  font-size: var(--font-size, var(--propel-font-size));
  font-weight: var(--font-weight, var(--propel-font-weight));
  line-height: var(--line-height, var(--propel-line-height));
}

.typographyTiny {
  --font-family: var(--propel-tiny-font-family);
  --font-size: var(--propel-tiny-font-size);
  --font-weight: var(--propel-tiny-font-weight);
  --line-height: var(--propel-tiny-line-height);
  @extend .typographyRegular;
}

.typographySmall {
  --font-family: var(--propel-small-font-family);
  --font-size: var(--propel-small-font-size);
  --font-weight: var(--propel-small-font-weight);
  --line-height: var(--propel-small-line-height);
  @extend .typographyRegular;
}

.typographyHeading1 {
  --font-family: var(--propel-h1-font-family);
  --font-size: var(--propel-h1-font-size);
  --font-weight: var(--propel-h1-font-weight);
  --line-height: var(--propel-h1-line-height);
  @extend .typographyRegular;
}
