@use './typography';

:root {
  /* Typography - Regular */
  --propel-font-family: 'Inter';
  --propel-font-size: 16px;
  --propel-font-weight: 400;
  --propel-line-height: 150%;

  /* Typography - Tiny */
  --propel-tiny-font-family: 'Inter';
  --propel-tiny-font-size: 0.625rem;
  --propel-tiny-font-weight: 400;
  --propel-tiny-line-height: 150%;

  /* Typography - Small */
  --propel-small-font-family: 'Inter';
  --propel-small-font-size: 0.75rem;
  --propel-small-font-weight: 400;
  --propel-small-line-height: 150%;

  /* Typography - Heading 1 */
  --propel-h1-font-family: 'Inter';
  --propel-h1-font-size: 3.5rem;
  --propel-h1-font-weight: 600;
  --propel-h1-line-height: 120%;

  /* Common colors */
  --propel-component-height: 300px;
  --propel-success-primary: #669f2a;
  --propel-success-secondary: #ceeab0;
  --propel-error-primary: #f04438;
  --propel-error-secondary: #fecdca;

  /* Spacing */
  --propel-space-xxs: 4px;
  --propel-space-xs: 8px;
  --propel-space-sm: 10px;
  --propel-space-md: 16px;
  --propel-space-lg: 24px;
  --propel-space-xl: 32px;
  --propel-space-xxl: 40px;

  /* Border radius */
  --propel-border-radius-sm: 4px;

  /* Shadows */
  --propel-shadow-sm: 0px 2px 4px 0px rgba(17, 19, 34, 0.1);
}

.lightTheme {
  --propel-color-primary: #2e90fa;
  --propel-color-secondary: #cdd5df;
  --propel-bg-primary: #ffffff;
  --propel-bg-secondary: #f8fafc;
  --propel-text-primary: #0d121c;
  --propel-text-secondary: #697586;
  --propel-border-primary: #e3e8ef;
  --propel-accent: rgba(46, 144, 250, 0.6);
  --propel-accent-hover: #2e90fa;
  --propel-color-gradient: linear-gradient(180deg, rgba(46, 144, 250, 0.35) -11.58%, rgba(46, 144, 250, 0.05) 100%);

  body {
    background-color: var(--propel-bg-primary);
  }
}

.darkTheme {
  --propel-color-primary: #2e90fa;
  // @TODO: add actual gradient from Figma
  --propel-color-secondary: #364152;
  --propel-bg-primary: #202939;
  --propel-bg-secondary: #0d121c;
  --propel-text-primary: #f8fafc;
  --propel-text-secondary: #9aa4b2;
  --propel-border-primary: #364152;
  --propel-accent: rgba(46, 144, 250, 0.6);
  --propel-accent-hover: #2e90fa;
  --propel-color-gradient: linear-gradient(180deg, rgba(46, 144, 250, 0.35) -11.58%, rgba(46, 144, 250, 0.05) 100%);

  body {
    background-color: var(--propel-bg-primary);
  }
}
