@import './typography.module.css';

:root {
  --propel-component-height: 200px;
}

.lightTheme {
  --propel-bg-primary: #ffffff;
  --propel-bg-secondary: #f9fafb;
  --propel-text-primary: #1d2134;
  --propel-text-secondary: #404968;
  --propel-border-primary: #b1b8d0;
  --propel-accent: #2e90fa;
  --propel-accent-hover: #2e90fa;

  background-color: var(--propel-bg-primary);
}

.darkTheme {
  --propel-bg-primary: #1d2134;
  --propel-bg-secondary: #111322;
  --propel-text-primary: #dcdfea;
  --propel-text-secondary: #7d89b0;
  --propel-border-primary: #4a5578;
  --propel-accent: #2e90fa;
  --propel-accent-hover: #2e90fa;

  background-color: var(--propel-bg-primary);
}
