@use '../../themes/tokens/typography';

.timeRangePickerPopper {
  min-width: var(--propel-component-height);
}

.timeRangePickerPopper {
  z-index: 9999;
}

.timeRangePicker {
  box-shadow: var(--propel-shadow-5);
  border-radius: var(--propel-radius-5);
  color: var(--propel-gray-12);
  background-color: var(--propel-color-background);
  border: 1px solid var(--propel-gray-6);
  margin-top: var(--propel-space-1);
}

.timeRangePickerHeader {
  margin: var(--propel-space-4) var(--propel-space-6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeRangePickerInputs {
  margin: 0 0 var(--propel-space-4) var(--propel-space-5);
  display: flex;
  gap: var(--propel-space-6);
}

.timeRangePickerActions {
  display: flex;
  justify-content: space-between;
  gap: var(--propel-space-3);
  margin: var(--propel-space-3);
}

.formField {
  display: flex;
  flex-direction: column;
  gap: var(--propel-space-1);
}

.lastN {
  position: relative;

  > div {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    bottom: 0;
    right: var(--propel-space-3);
    cursor: default;
    gap: var(--propel-space-4);
  }
}

.from-date-until-now {
  display: flex;
  flex-direction: column;
  gap: var(--propel-space-1);
  margin: var(--propel-space-3) var(--propel-space-5);
}

.custom-date-range {
  display: flex;
  flex-direction: row;
  margin: var(--propel-space-3) var(--propel-space-5);
  gap: var(--propel-space-3);
}

.caption {
  position: relative;
  min-height: 40px;
}

.caption_label {
  @extend %fontSize2;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  z-index: 10;
  display: flex;
}

.head_cell {
  @extend %fontSize2;
}

.cell {
  @extend %fontSize2;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 20;
}

.root {
  --rdp-accent-color: var(--propel-accent-10);
  --rdp-accent-color-dark: var(--propel-accent-10);
  --rdp-caption-font-size: var(--propel-font-size-2);
  margin: var(--propel-space-4) var(--propel-space-5) var(--propel-space-3) var(--propel-space-5);
}

.multiple_months .caption_end .nav {
  justify-content: flex-end;
}

.button {
  @extend %fontSize1;

  padding: 10px var(--propel-space-4);
  border-width: 1px;
  margin: 2px 0;
  border-radius: max(var(--propel-radius-2), var(--propel-radius-full));

  &:hover {
    border-radius: max(var(--propel-radius-2), var(--propel-radius-full));

    &:not([disabled]):not(.day_selected) {
      background-color: var(--propel-gray-a3);
    }
  }

  &:focus-visible {
    border-radius: max(var(--propel-radius-2), var(--propel-radius-full));
  }
}

.nav_button {
  padding: var(--propel-space-3);

  & svg {
    color: var(--propel-gray-11);
  }

  &:hover:not([disabled]):not(.day_selected) {
    border: none;
    background-color: transparent;
    & svg {
      color: var(--propel-gray-12);
    }
  }
}

.day_selected,
.day_selected:focus-visible {
  color: var(--propel-gray-11);
  outline: none;

  &:hover,
  &:focus-visible {
    border: 1px solid transparent;
    background-color: var(--propel-accent-11);
    color: var(--propel-gray-1);
  }
}

.day_today:not(.day_outside) {
  font-weight: inherit;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--propel-gray-a3);
  }
}

.day_range_start {
  color: #ffffff;
  border-top-left-radius: max(var(--propel-radius-2), var(--propel-radius-full));
  border-bottom-left-radius: max(var(--propel-radius-2), var(--propel-radius-full));
  background-color: var(--propel-accent-9);
}

.day_range_middle {
  background-color: var(--propel-gray-a2);
  border-radius: 0;

  &:hover {
    background-color: var(--propel-gray-a3);
    border-radius: 0;
    color: var(--propel-gray-11);
  }
}

.day_range_end {
  color: #ffffff;
  border-top-right-radius: max(var(--propel-radius-2), var(--propel-radius-full));
  border-bottom-right-radius: max(var(--propel-radius-2), var(--propel-radius-full));
  background-color: var(--propel-accent-9);

  &:not(.day_outside):after {
    background-color: var(--propel-gray-1);
  }
}

.day_range_start.day_range_end {
  border-radius: max(var(--propel-radius-2), var(--propel-radius-full));
}
