@use '../../../themes/tokens/typography';

.rootOption {
  @extend %fontSize2;
  font-weight: var(--font-weight-medium);

  padding: var(--space-2) var(--space-4);
  margin: 0;
  cursor: pointer;

  &:hover {
    background-color: var(--gray-2);
    border-radius: var(--radius-2);
  }

  &:focus,
  &:focus-visible {
    background-color: var(--gray-3);
    border-radius: var(--radius-2);
    outline: none;
  }
}
