@use '../../../themes/generated/tokens';

.rootOption {
  @extend .textMdRegular;

  padding: var(--propel-spacing-xl) var(--propel-spacing-4xl);
  margin: 0;
  cursor: pointer;

  &:hover {
    background-color: var(--propel-background-active);
    border-radius: var(--propel-radius-sm);
  }
}
