body {
  font-family: 'Inter', sans-serif;

  margin: 0;
  padding: 0;

  height: 100vh;

  background-color: var(--propel-color-background);
}

.border-2 {
  border-color: var(--propel-gray-6);
  background-color: transparent;
}

.custom-leaderboard {
  height: 300px;
}
