@use '../../themes/common';

.rootPieChart {
  @extend .textXxsRegular;
  overflow: auto;
  padding: 0;

  canvas {
    height: var(--propel-component-height);
  }
}

.pieChartTotalValue {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--propel-spacing-md);
  font-family: var(--propel-text-md-regular-font-family);
  font-size: var(--propel-text-xs-regular-font-size);

  span {
    margin: 0;
    line-height: var(--propel-text-xxs-regular-line-height);
    color: var(--propel-text-secondary);
  }

  span:first-child {
    padding-right: var(--propel-spacing-xs);
  }

  span:last-child {
    font-weight: 700;
  }
}

.pieChartList {
  @extend .textXsRegular;
  margin-top: var(--propel-spacing-xl);

  ul {
    max-width: 18rem;
    list-style: none;
    padding: 0;
    margin: 0 auto;

    li {
      display: flex;
      padding: var(--propel-spacing-xs) 0;
      justify-content: space-between;

      & > span {
        display: flex;
        align-items: center;
      }

      & > span:first-child {
        &:before {
          content: '';
          display: inline-block;
          width: 0.75rem;
          height: 0.75rem;
          margin-right: var(--propel-spacing-md);
          border-radius: 50%;
          background-color: var(--color-blue-800);
        }
      }

      & > span:last-child {
        align-items: right;
        font-weight: bold;
      }
    }

    @for $i from 8 through 1 {
      li:nth-child(#{9 - $i}) {
        & > span:first-child {
          &:before {
            background-color: var(--propel-color-blue#{$i}00);
          }
        }
      }
    }

    li:nth-child(9) {
      & > span:first-child {
        &:before {
          background-color: var(--propel-color-blue50);
        }
      }
    }

    li:nth-child(10) {
      & > span:first-child {
        &:before {
          background-color: var(--propel-color-blue25);
        }
      }
    }
  }
}
