@use '../../themes/typography';

.rootPieChart {
    @extend .typographyTiny;
    overflow: auto;
    padding: 0;

    canvas {
        height: var(--propel-component-height);
    }
}

:export{
    /* Color Blue (Brand)*/
    color_blue_950: #102A56;
    color_blue_900: #194185;
    color_blue_800: #1849A9;
    color_blue_700: #175CD3;
    color_blue_600: #1570EF;
    color_blue_500: #2E90FA;
    color_blue_400: #53B1FD;
    color_blue_300: #84CAFF;
    color_blue_200: #B2DDFF;
    color_blue_100: #D1E9FF;
    color_blue_50: #EFF8FF;
    color_blue_25: #F5FAFF;
}